.player-score {
    box-sizing: border-box;
    display: flex;
    width: 5rem;
    height: 2rem;
    background-color: var(--color-floral-white);
    border: 2px solid var(--color-flery-rose);
    padding: 1px;
    gap: 1px;
}

.points {
    background-color: var(--color-old-silver);
    text-indent: -9999px;
    overflow: hidden;
    width: 33%;
}

.player-score[data-points="1"] .points:first-child {
    background-color: var(--color-mantis);
}

.player-score[data-points="2"] {
    flex-direction: row-reverse;
}

.player-score[data-points="2"] > .points:nth-child(n+2) {
    background-color: var(--color-mantis);
}

.player-score[data-points="3"] > .points:nth-child(n+3) {
    background-color: var(--color-mantis);
}